/*Elementos html,body - Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
  margin: 0 15% 0;	/*tamaño de los margenes del bloque, auto es para margen superior e inferior*/
  padding: 0;
  border: 0;
  background-color: #f0f8ff;
}


/*Etiquetas*/
h1, h2, h3, h4, h5{
	font-family: "verdana", "arial", sans-serif;
	line-height: 1.5rem; /*Espacio entre linea*/
	letter-spacing: 1px;
	color: #3D97F7;
}

p{
	line-height: 1.5rem; /*Espacio entre linea*/
  font-size: 1rem;
}


/*Clases del Header*/
.new-header{
	background-color: white;
	margin-top: 20vh;
	max-width: 100%;
}

.img-banner{
	max-height: 10vh;
}

.img-cv{
	max-width: 100%;
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: -10vh;
	max-height: 22vh;
	border-radius: 100%;
	border: solid 0.5vw #f0f8ff;
	background-color: #3D97F7;
}

.cabecera-div{
	padding: 2% 0;
	text-align: center;
}

.cabecera-div h1 {
	color: black;
}

/******/

/*Clases del Contenido*/
.container{
	background-color: white;
	border-top-style: double;
	border-top-color: black;
	padding: 0 2%;
	width: 100%;
	float: left;
}

.container-article, .container-section{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.5vw;
	float: left;
	}

@media (min-width: 841px){
	.container-article{
		max-width: 60%;
	}

	.container-section{
		max-width: 40%;
	}
}

@media (min-width: 350px) and (max-width: 840px){
  .container-article {
  	max-width: 100%;
  }
	.container-section {
		max-width: 100%;
	}
}
.row{
	 display: block;
	 max-width: 100%;
	 margin: 0;
	 padding: 0;
	 border: none;
	 clear: both;
}

.col-10, .col-25, .col-75, .col-90{
  position: relative;
  max-width: 100%;
  padding: 0 0.5vw;
  border: solid white 0.5vw;
  text-align: left;
  float: left;
}

.col-10 {
  max-width: 10%;
  text-align: center;
}

.col-25 {
  max-width: 25%;
	background-color: #f0f8ff;
	text-align: center;
	border: solid 1px black;
	border-radius: 15px;
}

.col-75 {
  max-width: 75%;
  padding: 0 1vw;
}

.col-90 {
  max-width: 90%;
  padding: 0 1vw;
	background-color: #f0f8ff;
}

[class*="barra-"] {
	border: solid 0.8vh white;
	padding: 2px;
	text-align: left;
	color: white;
}

[class*="barra-"] > p{
	display: inline-block;
	padding: 1px 0px 0px 10px;
	font-size: 1.2em;
}

.barra-30{
	background-color: blue;
	max-width: 30%;
}

.barra-50{
	background-color: orange;
	max-width: 50%;
}

.barra-80{
	background-color: red;
	max-width: 80%;
}

.barra-100{
	background-color: green;
	max-width: 100%;
}

.new-footer{
	text-align: right;
	clear: both;
}


