/*Elementos html,body - Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
  margin: 5% 20% 0;	/*tamaño de los margenes del bloque, auto es para margen superior e inferior*/
  padding: 0;
  border: 0;
  background-color: #CBD2FF;
}


/*Etiquetas*/
h1, h2, h3, h4, h5{
	font-family: "verdana", "arial", sans-serif;
	font: bold;
	line-height: 1.5rem; /*Espacio entre linea*/
	letter-spacing: 1px;
	color: blue;
}

p{
	line-height: 1.5rem; /*Espacio entre linea*/
  font-size: 1rem;
}


/*Clases del Header*/
.new-header{
	background-color: white;
	margin-top: 20vh;
	max-width: 100%;
}

.img-banner{
	max-height: 10vh;
}

.img-cv{
	max-width: 100%;
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: -10vh;
	max-height: 22vh;
	border-radius: 100%;
	border: solid 0.5vw #CBD2FF;
	background-color: #3D97F7;
}

.cabecera-div{
	padding: 2% 0;
	text-align: center;
}

.cabecera-div h1 {
	color: black;

}
.cabecera-div h2{
	color: blue;
}

/******/

/*Clases del Contenido*/
.container{
	background-color: white;
	border-top-style: double;
	border-top-color: black;
	width: 100%;
	float: left;	
}

.container-1, .container-2{
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.5vw;
	float: left;
	}

.container-1{
	max-width: 60%;
}

.container-2{
	max-width: 40%;
}


.row{
	 display: block;
	 max-width: 100%;
	 margin: 0;
	 padding: 0;
	 border: none;
	 clear: both;
}

.col-10, .col-25, .col-75, .col-90{
  position: relative;
  max-width: 100%;
  min-height: 2px;
  padding: 0 0.5vw;
  border: solid white 0.5vw;
  text-align: left;
  float: left;
}

.col-10 {
  max-width: 10%;
}

.col-25 {
  max-width: 25%;
	background-color: #CBD2FF;
}

.col-75 {
  max-width: 75%;
}

.col-90 {
  max-width: 90%;
	background-color: #CBD2FF;
}

@media (min-width: 350px) {
  .container-1 {
  	max-width: 720px;
    clear: both;
  }
}
.barra-30{

	background-color: blue;
	border: 0;
	margin-top: 1vh;
	max-width: 30%;
	color: white;
	text-align: left;
}
.barra-30 p{
	display: inline;
	padding: 2px 0px 0px 7px;
}

.barra-80{
	background-color: blue;
	max-width: 80%;
	color: white;
	text-align: left;
}
.barra-80 p{
	display: inline;
	padding: 2px 0px 0px 7px;
}

.new-footer{
	max-width: 100%;
	background-color: white;
	padding: 1vw;
	text-align: right;
	border-top-style: double;
	border-top-color: black;
	clear: both;
}


/*Menu de navegación*/
.navmenu{
	display: inline-block;
	position: static;
	background: blue;
	width: 100%;
	max-height: 50px;
	margin: 0;	
	padding: 10px 0;
	text-align: center;
}

.navmenu ul{
	list-style: none;
	margin: 0;
	padding:0;
}

.navmenu li{
	display: inline;
	margin-left: 40px;
}

.navmenu li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: ‘Arial Black’, arial, sans-serif;
	font-style: bold;
	font-size: 20px;
	letter-spacing: 2px;
	color: white;
}





